**/configstore/**

common/dot-config/*

!common/dot-config/nvim
common/dot-config/nvim/*
!common/dot-config/nvim/init.lua
!common/dot-config/nvim/after
!common/dot-config/nvim/ftplugin
!common/dot-config/nvim/lua
!common/dot-config/nvim/plugin

!common/dot-config/oh-my-posh
